
<%= link_to 'Chronicles', :controller => 'chronicles', :action => 'list' %>
<%= nbsp(2) %>
<% action = @chronicle.closed? ? 'open' : 'close'
   label  = action.capitalize + " This Chronicle" -%>
<%= link_to label, :controller => 'chronicles', :action => action, :id => @chronicle %>

<ul id="season_list">
  <% @seasons.each do |season| -%>
    <li class="<%= season.closed? ? 'closed' : '' %>">
      <%= link_to season.name_and_years, :controller => 'matches', :action => 'list', :season_id => season %>
      <font size="-1">
        <%= link_to 'Players', :controller => 'players', :action => 'roster_chart', :season_id => season %>
        <%= nbsp %>
        <%= link_to 'Edit'   , :action => 'edit', :id => season, :chronicle_id => @chronicle %>
        <% if season.matches.empty? -%>
          <%= nbsp %>
          <%= link_to 'Delete', {:action => 'destroy', :id => season, :chronicle_id => @chronicle},
                                 :confirm => "OK to delete '#{season.name_and_years}'?", :method => :post %>
        <% end -%>
      </font>
    </li>
  <% end -%>
</ul>

<div id="link_new_season">
  <%= link_to 'New Season', :action => 'new', :chronicle_id => @chronicle %>
</div>

