
<%= error_messages_for :season %>

<% form_for :season, :url => {:action => 'create'} do |f| -%>
  <label for="season_name">Name:&nbsp;</label>
  <%= f.text_field :name, :size => 60 %>

  <div id="season_examples">
    <%= "Example: \"#{Chronicle.find(:all).map(&:name).join('", "')}\"" %>
  </div>

  <p>
    <%= submit_tag 'Create' %>
    <%= nbsp(2) %>
    <%= link_to 'Cancel', :action => 'list' %>
  </p>
<% end -%>

