<% h_params = {:is_lineup => @is_lineup ? 1 : 0, :attr => @attr, :attr2 => @attr2} -%>

<p>
  <% unless @is_lineup -%>
    <%= link_to 'Fixtures/Results', matches_path %>
  <% else -%>
    <%= link_to 'Rosters(all)', players_path(:is_lineup => @is_lineup ? 1 : 0, :all_players => 1) %>
    <%= nbsp(3) %>
    <%= link_to 'Enter Result', edit_match_path(@next_matches.first, :season_id => @season_id, :scores_only => 1, :is_lineup => 0) %>
    <%= nbsp(2) %>
    <%= link_to 'Exit Lineup' , roster_chart_path(:is_lineup => 0) %>
  <% end -%>
  <%= nbsp(4) %>
  <%= link_to 'Calendar', calendar_matches_path(:is_lineup => @is_lineup ? 1 : 0) %>
  <%= nbsp(2) %>
  <%= link_to 'Depth Chart', depth_chart_path(h_params) %>
  <%= nbsp(2) %>
  <%= link_to 'Rosters', players_path(:is_lineup => @is_lineup ? 1 : 0) %>
  <%= nbsp(2) %>
  <%= link_to 'Top Players', top_attribute_list_path(:is_lineup => @is_lineup ? 1 : 0) %>
  <%= nbsp(2) %>
  <%= link_to 'Numbers', numbers_roster_charts_path(:is_lineup => @is_lineup ? 1 : 0) %>
  <% unless @is_lineup -%>
    <%= nbsp(2) %>
    <font size="-2"><%= link_to 'CHECK', disablement_check_path %></font>
  <% end -%>
  <%= nbsp(2) %>
  <%= link_to 'Injure Player', pick_injury_roster_charts_path(:caller => 'roster_chart', :is_lineup => @is_lineup ? 1 : 0) %>
  <%= nbsp(1) %>
  <%= link_to 'Injure One'   , pick_injury_roster_charts_path(:caller => 'roster_chart', :is_lineup => @is_lineup ? 1 : 0,
                                                              :force_one => 1) %>
  <% unless @injury_list.empty? && @off_list.empty? -%>
    <font size="-1">
      <%= nbsp %>
      <%= link_to 'Undo' , undo_pick_injury_roster_charts_path(:caller => 'roster_chart', :is_lineup => @is_lineup ? 1 : 0) %>
      <%= nbsp %>
      <%= link_to 'Clear', clear_injury_roster_charts_path(:caller => 'roster_chart', :is_lineup => @is_lineup ? 1 : 0) %>
    </font>
  <% end -%>
  <%= nbsp(4) %>
  <%= link_to 'Formation List', formations_path(:is_lineup => @is_lineup ? 1 : 0) %>
  <%= nbsp(4) %>
  <% unless @is_lineup -%>
    <%= link_to 'Show Lineup', roster_chart_path(:is_lineup => 1) %>
    <%= nbsp(2) %>
  <% else -%>
    <%= link_to 'Revise Lineup', revise_lineup_roster_charts_path %>
  <% end -%>
</p>

<div id="next_matches">
  <%= next_matches_display(@next_matches) %>
</div>

<% next_match = @next_matches.first
   series = next_match && next_match.series -%>

<div id="match_info">
  <div class="league record">
    League Record: <%= record_display(@league_match_last_played) %>
  </div>

  <div class="recent_form">
    Recent Form: <%= Match.recent_form(10, @season_id) %>
  </div>
  <br />

  <% if series -%>
    <div class="recent_form">
      (<%= series.name %>: <%= Match.recent_form(10, @season_id, series.id) %>)
    </div>
    <br />
  <% end -%>

  <div id="recent_meetings">
    <%= recent_meetings_display(@next_matches, @season_id) %>
  </div>

  <div id="controller_options">
    <%= controller_options(next_match) %>
  </div>

  <div id="fanfare_players">
    <% if next_match && next_match.home? -%>
      <% source, caption = @season.team.manutd? ? ["FanfareForManUtd.mp3"      , "ManUtd Fanfare"        ] \
                                                : ["FanfareForTheCommonMan.mp3", "Fanfare For Common Man"] -%>
      <%= render :partial => 'sound_player', :locals => {:caption => caption,
                                                         :id      => "fanfare_player",
                                                         :source  => source,
                                                        } %>
    <% end -%>

    <% if next_match && next_match.series.champions_leaque? -%>
      <%= render :partial => 'sound_player', :locals => {:caption => "CL Anthem",
                                                         :id      => "champions_leaque_anthem_player",
                                                         :source  => "ChampionsLeagueAnthemShort.mp3",
                                                        } %>
    <% end -%>
  </div>
</div>

<div class="clear" />

<div style="float: left">
  <div id="top_of_tables_roster_chart">
    <%= number_of_players_display %>
    <br />
    <%= "Formation: #{(formation = @season.formation) ? formation.name : "(none)"}" %>
    <%= nbsp(2) %>
    <%= link_to 'Formation List', formations_path(:is_lineup => @is_lineup ? 1 : 0) %>
  </div>
  <p>
    <%= form_tag roster_chart_path do -%>
      <%= select_tag :attr , options_for_select(options_for_attrs_and_props(@attrs ), @attr .to_s) %>
      <%= select_tag :attr2, options_for_select(options_for_attrs_and_props(@attrs2), @attr2.to_s) %>
      <%= hidden_field_tag :is_lineup, @is_lineup ? 1 : 0 %>
      <%= submit_tag 'select' %>
    <% end -%>
  </p>
</div>

<div id="roster_chart_report">
  <%= flash[:report] %>
</div>

<% if @is_lineup -%>
  <div id="quick_tactics_help">
    <table>
      <tr><td />                <td>↑ Default</td><td />              </tr>
      <tr><td>← High Press.</td><td />            <td>→ Possesion</td></tr>
      <tr><td />                <td>↓ Counter</td><td />              </tr>
    </table>
  </div>
<% end -%>

<div class="clear" />

<table id="table_starters" class="table_base tables_roster_chart">
  <%= render :partial => 'roster_table',
             :locals => {:caption => 'Starters:',
                         :index_start => 0, :size => @num_starters,
                         :index_offset => 0} %>
</table>

<table id="table_in_bench" class="table_base tables_roster_chart">
  <%= render :partial => 'roster_table',
             :locals => {:caption => 'Bench:',
                         :index_start => @num_starters, :size => @num_in_bench,
                         :index_offset => 0} %>
</table>

<% max_players = Constant.get(:max_players_in_roster)
   @players << Player::NIL_PLAYER until @players.size >= max_players
   num_players_in_each_table_reserve = 10 -%>

<% index_start = @num_starters + @num_in_bench
   size = num_players_in_each_table_reserve
   index_offset = 0
   caption = "Reserves:" -%>
<% while true -%>
  <table class="table_reserves table_base tables_roster_chart">
    <%= render :partial => 'roster_table',
               :locals => {:caption => caption,
                           :index_start => index_start, :size => size,
                           :index_offset => index_offset } %>
  </table>

  <% index_start += size
     break if index_start >= @players.size
     index_offset += size
     caption = nbsp -%>
<% end -%>

<div class="clear" />

<%= form_tag edit_roster_roster_charts_path, :method => :get do -%>
  <label for="command">Enter a command to exchange players: </label>
  <%= text_field_tag :command %>
  <%= hidden_field_tag :is_lineup, @is_lineup ? 1 : 0 %>
  <%= hidden_field_tag :attr , @attr  %>
  <%= hidden_field_tag :attr2, @attr2 %>
  <%= submit_tag 'Execute' %>
<% end -%>

<p>
<% if @error_explanation -%>
  <%= @error_explanation %>
<% end -%>
</p>

<div id="command_samples_for_roster_chart">
  Command Samples:
  <br />
  <%= command_samples %>
</div>

