
<%
  column_names_not_to_display = %w(name)
  attr_names_to_insert_index_before = %(positioning)

  column_names = @columns.map(&:name) - column_names_not_to_display

  last_column_name = column_names[-1]
-%>

<%= render :partial => 'column_index_transposed' %>

<% @superior_attribute_values = prepare_superior_attribute_values -%>

<% column_names.each do |column_name| -%>
  <% next if column_names_not_to_display.include?(column_name) -%>

  <tr>
    <td><%= column_name2display(column_name2meaningful(column_name)) %></td>

    <% @players.each do |player| -%>
      <% clazz = column_name == last_column_name ? 'rightmost_of_players' : ''
         clazz += @sorted_field_names.include?(column_name) ? ' sorted_field' : '' -%>
      <td align="<%= column_align(column_name) %>" class="<%= clazz %>">
        <%= render :partial => 'property_display', :locals => {:column_name => column_name, :player => player} %>
      </td>
    <% end -%>
  </tr>
<% end -%>

<% @attribute_columns.map(&:name).each do |attr_name| -%>
  <% if attr_names_to_insert_index_before.include?(attr_name) -%>
    <%= render :partial => 'column_index_transposed' %>
  <% end -%>

  <tr>
    <td><%= column_name2display(attr_name) %></td>

    <% @players.each do |player| -%>
      <% attrs = player.player_attribute
         value = attrs.read_attribute(attr_name)
         clazz = html_class_for_attribute_display(attr_name, value, false) -%>
      <td align="right" class="<%= clazz %>"><%= value %></td>
    <% end -%>
  </tr>
<% end -%>

<% @players.each do |player| -%>
  <tr class="<%= cycle('tableRow0', 'tableRow1') %>">

    <% @columns.each do |column| -%>
    <% end -%>

  </tr>
<% end -%>

