
<% show_unit = false unless defined?(show_unit) -%>

<% case column_name
   when 'name' -%>
  <%= bold(player.name) %>
<% when 'position_id' -%>
  <% main_position = player.position -%>
  <% ([main_position] + player.sub_positions).each do |position| -%>
    <span style="background-color: <%= position.color %>">
      <%= position == main_position ? bold(position) : position %>
    </span>
  <% end -%>
<% when 'skill_move' -%>
  <%= '★' * player.skill_move %>
<% when 'is_right_dominant' -%>
  <%= player.is_right_dominant ? 'R' : 'L' %>
<% when 'both_feet_level' -%>
  <%= '☆' * player.both_feet_level %>
<% when 'height' -%>
  <%= player.height.to_s + (show_unit ? ' cm' : '') %>
<% when 'weight' -%>
  <%= player.weight.to_s + (show_unit ? ' kg' : '') %>
<% when 'birth_year' -%>
  <%= player.age %>
<% when 'nation_id' -%>
  <%= player.nation.name -%>
<% when 'market_value' -%>
  <% if (mv = player.market_value).nil? -%>
    <%= "(n/a)" %>
  <% else -%>
    <%= number_with_delimiter(mv) + (show_unit ? ' K' + [0x00A3].pack('U') : '') %>
  <% end -%>
<% when 'wage' -%>
  <% if (wage = player.wage).nil? -%>
    <%= "(n/a)" %>
  <% else -%>
    <%= number_with_delimiter(wage) + (show_unit ? ' ' + [0x00A3].pack('U') : '') %>
  <% end -%>
<% else -%>
  <%= link_to '-', adjust_attribute_player_path(player, attr_name: :overall, adjustment: -1) \
      if column_name == 'overall' %>
  <%= player.get(column_name) %>
  <%= link_to '+', adjust_attribute_player_path(player, attr_name: :overall, adjustment: 1) \
      if column_name == 'overall' %>
<% end -%>

