
<%
  kind = caption.at(0).downcase
  kind = 'r' if kind == '&'
-%>

<caption><%= caption %></caption>

<% unless index_start >= @players.size -%>
  <% @players[index_start, size].each_with_index do |player, index| -%>
    <% tr_class = player_html_class(player, @season_id, @injury_list, @off_list) -%>
    <tr class="<%= tr_class %>">
      <% if kind == 's' && @formation -%>
        <% position = @formation.position(index + 1) -%>
        <td style="background-color: <%= position.color %>;
                   text-align: center; font-size: small; font-weight: bold;">
          <%= position.name %>
        </td>
      <% end -%>

      <td class="index_number <%= player.hot?(@season_id) ? 'hot' : '' %>">
        <%= link_to_unless player.nil_player?, player.number,
                             player_path(player, :browses_all_players => 1, :is_from_roster_chart => 1) %>
      </td>

      <% if player.nil_player? -%>
        <% 4.times do -%>
          <td>&nbsp;</td>
        <% end -%>
        </tr>
        <% next -%>
      <% end -%>

      <% tr_class_important = %w(disabled injury_list).include?(tr_class)
         in_position = player.positions.include?(position)
         clazz = kind != 's' || tr_class_important || in_position ? "" : "out_of_position" -%>
      <td class="name <%= clazz %>">
        <%= player.name %>
      </td>
      <td>
        <font size="-1"><%= player.overall %></font>
      </td>
      <td align="center" style="background-color: <%= player.position.color %>">
        <font size="-1"><%= player.position.name %></font>
      </td>
      <td>
        <font size="-2">
          <% if player.disabled?(@season_id) -%>
            <%= back_from_disabled_on(player, @season_id) %>
          <% else -%>
            <% player.sub_positions.each do |pos| -%>
              <span style="background-color: <%= pos.color %>">
                <%= pos.name %>
              </span>
            <% end -%>
          <% end -%>
        </font>
      </td>
    </tr>
  <% end -%>
<% end -%>

