
<% kind = caption.at(0).downcase
   kind = 'r' if kind == '&' -%>

<caption><%= caption %></caption>

<% unless index_start >= @players.size -%>
  <% @players[index_start, size].each_with_index do |player, index| -%>
    <tr class="<%= player.on_loan?(@season_id) ? 'on_loan' : '' %>">
      <td class="index_number">
        <% label = "#{kind}#{index + index_offset + 1}" -%>
        <%= link_to label, :action => 'show', :id => player, :browses_all_players => 1 %>
      </td>
      <% clazz = @injury_list.include?(player.id) ? 'injury_list' : '' -%>
      <td class="name <%= clazz %>">
        <%= player.name %>
      </td>
      <td>
        <font size="-1"><%= player.overall %></font>
      </td>
      <td align="center">
        <font size="-1"><%= player.position.name %></font>
      </td>
      <td>
        <font size="-2"><%= player.sub_positions.map(&:name).join(' ') %></font>
      </td>
    </tr>
  <% end -%>
<% end -%>

