
<p>
  <%= link_to 'Cancel', :action => 'list' %>
</p>

<% form_tag :action => 'filter_on_list' do -%>
  <b>Columns:</b>
  <hr />

  <%= nbsp(6) -%>
  <%= link_to 'Recommended', :action => 'filter_with_recommended_columns' %>
  <%= nbsp(2) -%>
  <%= link_to 'All' , :action => 'filter_with_all_columns' %>
  <%= nbsp(2) -%>
  <%= link_to 'None', :action => 'filter_with_no_columns' %>
  <br />
  <%= nbsp(5) -%>
  <% ColumnFilter::PLAYER_PROPERTY_NAMES.each do |name| -%>
    <%= check_box :column_filter, name %>
    <label for='<%= "column_filter_#{name}" %>'>
      <%= column_name2display(column_name2meaningful(name)) %>
    </label>
    <%= nbsp -%>
  <% end -%>

  <hr />

  <%= nbsp(6) -%>
  <%= link_to 'Offensive', :action => 'filter_with_offensive_attributes' %>
  <%= nbsp(2) -%>
  <%= link_to 'Defensive', :action => 'filter_with_defensive_attributes' %>
  <%= nbsp(2) -%>
  <%= link_to 'All' , :action => 'filter_with_all_attributes' %>
  <%= nbsp(2) -%>
  <%= link_to 'None', :action => 'filter_with_no_attributes' %>
  <br />
  <%= nbsp(5) -%>
  <% displaying_player_attribute_names.each do |name| -%>
    <% if name.nil? -%>
      <br />
      <%= nbsp(5) -%>
      <% next -%>
    <% end -%>
    <%= check_box :column_filter, name %>
    <label for='<%= "column_filter_#{name}" %>'>
      <%= column_name2display(name) %>
    </label>
    <%= nbsp -%>
  <% end -%>

  <br />
  <br />

  <b>Players:</b>
  <hr />

  <%= radio_button :row_filter, :option, RowFilter::USE_POSITION_CATEGORIES %>
  <label for="<%= 'row_filter_option_' + RowFilter::USE_POSITION_CATEGORIES %>">
    <span class="<%= @row_filter.use_position_categories? ? 'option_selected' : '' %>">
      Use Position Categories
    </span>
  </label>
  <br />
  <% RowFilter::POSITION_CATEGORIES.each do |name| -%>
    <%= nbsp(5) -%>
    <%= check_box :row_filter, name %>
    <label for="<%= 'row_filter_' + name.to_s %>">
      <%= name.to_s.camelize %>
    </label>
  <% end -%>

  <hr />

  <%= radio_button :row_filter, :option, RowFilter::USE_POSITIONS %>
  <label for="<%= 'row_filter_option_' + RowFilter::USE_POSITIONS %>">
    <span class="<%= @row_filter.use_positions? ? 'option_selected' : '' %>">
      Use Positions
    </span>
  </label>
  <br />
  <%= nbsp(3) -%>
  <% RowFilter::POSITIONS.each do |name| -%>
    <%= nbsp -%>
    <%= check_box :row_filter, name %>
    <label for="<%= 'row_filter_' + name.to_s %>">
      <%= RowFilter.name2pos(name) %>
    </label>
  <% end -%>

  <hr />

  <%= radio_button :row_filter, :option, RowFilter::USE_PLAYER_NAMES %>
  <label for="<%= 'row_filter_option_' + RowFilter::USE_PLAYER_NAMES %>">
    <span class="<%= @row_filter.use_player_names? ? 'option_selected' : '' %>">
      Use Player Names
    </span>
  </label>
  <br />
  <%= nbsp(3) -%>
  <% prev_category = nil -%>
  <% RowFilter.player_instance_variable_names.each do |name| -%>
    <% player = RowFilter.get_player(name)
       category = player.position.category -%>
    <% if prev_category && category != prev_category -%>
      <br />
      <%= nbsp(3) -%>
    <% end -%>
    <% prev_category = category -%>
    <%= nbsp -%>
    <%= check_box :row_filter, name %>
    <label for="<%= 'row_filter_' + name.to_s %>">
      <%= player.name %>
    </label>
  <% end -%>

  <p>
    <%= submit_tag 'Apply' %>
    <%= nbsp -%>
    <%= link_to 'Cancel', :action => 'list' %>
  </p>
<% end -%>

