
<h3><%= @page_title %></h3>

<% form_tag :action => 'filter_on_list' do -%>
  Columns:<br />
  <% classColumnFilter.instance_variable_names.each do |name| -%>
    <%= check_box :column_filter, name %>
    <% displaying_name = case name
         when :is_right_dominant
           'dominant_feet'
         when :both_feet_level
           'week_feet'
         when :nation_id
           'nation'
         else
           name.to_s
       end -%>
    <%= column_name2display(displaying_name) %>
    &nbsp;
  <% end -%>

  <br />
  <br />

  Players:<br />
  <%= radio_button :row_filter, :option, classRowFilter::USE_POSITION_CATEGORIES %>
  Use Position Categories
  <br />
  <% classRowFilter.position_categories.each do |name| -%>
    <%= check_box :row_filter, name %>
    <%= name.to_s.camelize %>
    &nbsp;
  <% end -%>
  <hr />
  <%= radio_button :row_filter, :option, classRowFilter::USE_PLAYER_NAMES %>
  Use Player Names
  <br />
  <% prev_category = nil -%>
  <% classRowFilter.player_ids.each do |pid| -%>
    <% player = Player.find(classRowFilter.pid2id(pid))
       category = player.position.category -%>
    <% if prev_category && category != prev_category -%>
      <br />
    <% end -%>
    <% prev_category = category -%>
    <%= check_box :row_filter, pid %>
    <%= player.name %>
    &nbsp;
  <% end -%>

  <p>
    <%= submit_tag 'Apply' %>
    &nbsp;
    <%= link_to 'Cancel', :action => 'list' %>
  </p>
<% end -%>

