
<h3><%= @page_title %></h3>

<% classRowFilter    = PlayersController::RowFilter
   classColumnFilter = PlayersController::ColumnFilter -%>

<% form_tag :action => 'filter_on_list' do -%>
  Columns:<br />
  <% classColumnFilter.instance_variable_names.each do |name| -%>
    <%= check_box :column_filter, name %>
    <% displaying_name = case name
         when :is_right_dominant
           'dominant_feet'
         when :both_feet_level
           'week_feet'
         when :nation_id
           'nation'
         else
           name.to_s
       end -%>
    <label for="<%= 'column_filter_' + name.to_s %>">
      <%= column_name2display(displaying_name) %>
    </label>
    &nbsp;
  <% end -%>

  <br />
  <br />

  Players:<br />
  <%= radio_button :row_filter, :option, classRowFilter::USE_POSITION_CATEGORIES %>
  <label for="<%= 'row_filter_option_' + classRowFilter::USE_POSITION_CATEGORIES %>">
    Use Position Categories
  </label>
  <br />
  <% classRowFilter.position_categories.each do |name| -%>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= check_box :row_filter, name %>
    <label for="<%= 'row_filter_' + name.to_s %>">
      <%= name.to_s.camelize %>
    </label>
  <% end -%>
  <hr />
  <%= radio_button :row_filter, :option, classRowFilter::USE_PLAYER_NAMES %>
  <label for="<%= 'row_filter_option_' + classRowFilter::USE_PLAYER_NAMES %>">
    Use Player Names
  </label>
  <br />
  &nbsp;&nbsp;&nbsp;
  <% prev_category = nil -%>
  <% classRowFilter.player_ids.each do |pid| -%>
    <% player = Player.find(classRowFilter.pid2id(pid))
       category = player.position.category -%>
    <% if prev_category && category != prev_category -%>
      <br />
      &nbsp;&nbsp;&nbsp;
    <% end -%>
    <% prev_category = category -%>
    &nbsp;
    <%= check_box :row_filter, pid %>
    <label for="<%= 'row_filter_' + pid.to_s %>">
      <%= player.name %>
    </label>
  <% end -%>

  <p>
    <%= submit_tag 'Apply' %>
    &nbsp;
    <%= link_to 'Cancel', :action => 'list' %>
  </p>
<% end -%>

