
<p>
  <%= link_to 'Cancel', players_path %>
  <%= nbsp(4) %>
  <%= link_to 'Clear All', clear_sort_players_path %>
</p>

<%= form_tag(prepare_sort_players_path, :multipart => true) do -%>
  <%= check_box_tag :shows_sort_only %>
  <label for="shows_sort_only">Display sorted column(s) only</label>
  <br />
  <br />

  <% @sort_fields.each_with_index do |sort_field, i| -%>
    <%= "Order No.#{i + 1}:" %>
    <% html_id = "ascending_#{i}" -%>
    <%= check_box :sort_field, :ascending, {:id => html_id, :index => i}, '0', '1' %>
    <label for="<%= html_id %>">Descending</label>
    <br />

    <% @sort_field = sort_field -%>
    <% SortField.names_for_display.each do |name| -%>
      <% if name.nil? -%>
        <br />
        <% next -%>
      <% end -%>

      <% html_id = "sort_#{name}_#{i}" -%>
      <%= radio_button :sort_field, :name, name, :id => html_id, :index => i %>
      <label for="<%= html_id %>"><%= column_name2display(name) %></label>

      <%= nbsp(8) if name == :none %>
    <% end -%>

    <br />

    <hr />
  <% end -%>

  <p>
    <%= submit_tag 'Apply' %>
    <%= nbsp %>
    <%= link_to 'Cancel', players_path %>
  </p>
<% end -%>

