
<div class="<%= @is_lineup ? 'lineup' : '' %>">

<p>
  <% unless @is_lineup -%>
    <%= link_to 'Fixtures/Results', matches_path %>
    <%= nbsp(4) %>
  <% end -%>
  <%= link_to 'Roster Chart', roster_chart_path(:attr => @attr, :is_lineup => @is_lineup ? 1 : 0) %>
  <% unless @is_lineup -%>
    <%= nbsp(2) %>
    <%= link_to 'Rosters', players_path %>
  <% end -%>
  <%= nbsp(2) %>
  <%= link_to 'Top Players', top_attribute_list_path(:is_lineup => @is_lineup ? 1 : 0) %>
</p>

<%= next_matches_display(@next_matches, @last_match) %>
<br />

<p>
<%= form_tag depth_chart_path do -%>
  <%= select_tag :attr, options_for_select(options_for_attrs_and_props(@attrs), @attr.to_s) %>
  <%= submit_tag 'select' %>
<% end -%>
</p>

<table id="table_depth_chart" class="table_base">
  <% @positions.each do |position| -%>
    <tr>
      <th style="background-color: <%= position.color %>">
        <%= position.name -%>
      </th>
      <% players = @depth[position]
         size = players.size -%>
      <td class="num_players">
        <%= size %>
      </td>
      <td>
        <% players.each_with_index do |player, i| -%>
          <% clazz = player_html_class(player, @season_id, @injury_list, @off_list)
             clazz += ' emphasized' if player.overall >= 80 -%>
          <span class="<%= clazz %>">
            <%= player.name %>
            <span class="property">
              <%= "(#{player.get(@attr)})" %>
            </span>
          </span>
          <%= nbsp if i < size - 1 %>
        <% end -%>
      </td>
    </tr>
  <% end -%>
</table>

</div>

