
<p>
  <%= link_to 'Fixtures/Results', :controller => 'matches', :action => 'list' %>
  <%= nbsp(4) %>
  <%= link_to 'Back to Rosters', 'list' %>
  <%= nbsp(4) %>
  <%= link_to 'Roster Chart', :action => 'roster_chart' %>
  <%= nbsp(2) %>
  <%= link_to 'Top Players', :action => 'top_attribute_list' %>
</p>

<table id="table_depth_chart" class="table_base">
  <% Position.find(:all).each do |position| -%>
    <tr>
      <th><%= position.name -%></th>
      <% players = @depth[position]
         size = players.size -%>
      <td class="num_players">
        <%= size %>
      </td>
      <td>
        <% players.each_with_index do |player, i| -%>
          <%= player.name %>
          <span class="property">
            <%= "(#{player.overall})" %>
            <%= " " if i < size - 1 %>
          </span>
        <% end -%>
      </td>
    </tr>
  <% end -%>
</table>

