
<%= error_messages_for :player %>

<p>
  <%= link_to 'Cancel', :action => @is_from_list ? 'list' : 'show' %>
</p>

<% form_for @player do |f| -%>
  <%= render :partial => 'base', :locals => {:action => :edit, :f => f} %>
  <%= hidden_field_tag :is_from_list, @is_from_list %>

  <%= submit_tag 'Submit' %>
  <%= nbsp(2) %>
  <%= link_to 'Cancel', :action => @is_from_list ? 'list' : 'show' %>
<% end -%>

