
<%= link_to '>> Chronicles', :controller => 'chronicles', :action => 'list' %>
<%= nbsp %>
<%= link_to ' > Seasons'   , :controller => 'seasons'   , :action => 'list', :chronicle_id => @chronicle %>
<%= nbsp(4) %>
<%= link_to 'Fixtures/Results', :controller => 'matches', :action => 'list' %>
<%= nbsp(4) %>
<%= link_to 'Filter Rows/Columns', :action => 'choose_to_list' %>
<%= nbsp(2) %>
<%= link_to 'Sort by Columns', :action => 'choose_to_sort' %>
<%= nbsp(2) %>
<%= link_to 'Attribute Legend', :action => 'show_attribute_legend' %>
<%= nbsp(4) %>
<%= link_to 'Depth Chart', :action => 'depth_chart' %>
<%= nbsp(2) %>
<%= link_to 'Roster Chart', :action => 'roster_chart' %>
<%= nbsp(4) %>
<%= link_to 'New Player', :action => 'new' %>

<%
  max_players = Constant.get(:max_players_to_transpose)
  table_body = @players.size <= max_players ? 'list_transposed' : 'list_normal'
-%>

<table id="table_players">
  <%= render :partial => table_body %>
</table>

