
<%
  last_column = @columns[-1]
-%>

<%= link_to 'Filter Rows/Columns', :action => 'choose_to_list' %>
<%= nbsp(2) %>
<%= link_to 'Sort by Columns', :action => 'choose_to_sort' %>
<%= nbsp(2) %>
<%= link_to 'Attribute Legend', :action => 'show_attribute_legend' %>
<%= nbsp(4) %>
<%= link_to 'Depth Chart', :action => 'depth_chart' %>
<%= nbsp(2) %>
<%= link_to 'Roster Chart', :action => 'roster_chart' %>
<%= nbsp(4) %>
<%= link_to 'New Player', :action => 'new' %>

<table id="table_players">
  <tr>
    <th><%= nbsp %></th>

    <% @columns.each do |column| -%>
      <th><%= column_index(column) %></th>
    <% end -%>

    <% @attribute_columns.each do |column| -%>
      <th><%= PlayerAttribute.abbr(column.name) %></th>
    <% end -%>
  </tr>

  <% @players.each do |player| -%>
    <tr class="<%= cycle('tableRow0', 'tableRow1') %>">
      <td><%= link_to '>', player %></td>

      <% @columns.each do |column| -%>
        <% column_name = column.name
           clazz = column == last_column ? 'rightmost_of_players' : ''
           clazz += @sorted_field_names.include?(column_name) ? ' sorted_field' : '' -%>
        <td align="<%= column_align(column) %>" class="<%= clazz %>">
          <%= render :partial => 'property_display', :locals => {:column_name => column_name, :player => player} %>
        </td>
      <% end -%>

      <% is_leftmost = true
         attrs = player.player_attribute -%>
      <% @attribute_columns.each do |column| -%>
        <% column_name = column.name
           value = attrs.send(:attributes)[column_name]
           clazz = is_leftmost ? 'leftmost_of_attributes' : ''
           clazz += @sorted_field_names.include?(column_name) ? ' sorted_field' : ''
           top_five_value = @attribute_top_five_values[column_name]
           clazz += ' top_five_values' if value >= top_five_value
           is_leftmost = false -%>
        <td align="right" class="<%= clazz %>"><%= value %></td>
      <% end -%>
    </tr>
  <% end -%>
</table>

