
<h1><%= @page_title %></h1>

<%
  last_column = @columns[-1]
-%>

<%= link_to 'Filter Rows/Columns', :action => 'choose_to_list' %>
<%= nbsp(2) %>
<%= link_to 'Attribute Legend', :action => 'show_attribute_legend' %>
<%= nbsp(4) %>
<%= link_to 'Depth Chart', :action => 'depth_chart' %>
<%= nbsp(2) %>
<%= link_to 'Roster Chart', :action => 'roster_chart' %>

<table id="table_players">
  <tr>
    <% @columns.each do |column| -%>
      <th><%= h column_index(column) %></th>
    <% end -%>

    <% @attribute_columns.each do |column| -%>
      <th><%= PlayerAttribute.abbr(column.name) %></th>
    <% end -%>
  </tr>

  <% @players.each do |player| -%>
    <tr class="<%= cycle('tableRow0', 'tableRow1') %>">
      <% @columns.each do |column| -%>
        <% clazz = column == last_column ? 'rightmost_of_players' : '' -%>
        <td align="<%= column_align(column) %>" class="<%= clazz %>">
          <% case column.name
             when 'name' -%>
            <%= "<b>#{player.name}</b>" %>
          <% when 'position_id' -%>
            <%= "<b>#{player.position.name}</b> #{player.sub_positions.map(&:name).join(' ')}" %>
          <% when 'skill_move' -%>
            <%= '★' * player.skill_move %>
          <% when 'is_right_dominant' -%>
            <%= player.is_right_dominant ? 'R' : 'L' %>
          <% when 'both_feet_level' -%>
            <%= '☆' * player.both_feet_level %>
          <% when 'nation_id' -%>
            <%= player.nation.name -%>
          <% else -%>
            <%= h player.send(:attributes)[column.name] %>
          <% end -%>
        </td>
      <% end -%>

      <% is_leftmost = true
         attrs = player.player_attribute -%>
      <% @attribute_columns.each do |column| -%>
        <% clazz = is_leftmost ? 'leftmost_of_attributes' : ''
           is_leftmost = false -%>
        <td align="right" class="<%= clazz %>"><%= attrs.send(:attributes)[column.name] %></td>
      <% end -%>
    </tr>
  <% end -%>
</table>

