
<%
  num_players_in_first_table_reserves = 10
-%>

<p>
  <%= link_to 'Fixtures/Results', :controller => 'matches', :action => 'list' %>
  <%= nbsp(4) %>
  <%= link_to 'Back to Rosters', 'list' %>
  <%= nbsp(4) %>
  <%= link_to 'Depth Chart', :action => 'depth_chart' %>
  <%= nbsp(2) %>
  <%= link_to 'Top Players', :action => 'top_attribute_list' %>
  <%= nbsp(4) %>
  <%= link_to 'Injure Player', :action => 'pick_player_for_injury', :caller => 'roster_chart' %>
  <font size="-1">
    <%= nbsp %>
    <%= link_to 'Undo' , :action => 'undo_pick_from_injury', :caller => 'roster_chart' %>
    <%= nbsp %>
    <%= link_to 'Clear', :action => 'clear_injury_list'    , :caller => 'roster_chart' %>
  </font>
</p>

<div id="top_of_tables_roster_chart">
  <%= "Total Number of Players: #{@players.size}" %>
</div>

<table id="table_starters" class="table_base tables_roster_chart">
  <%= render :partial => 'roster_table',
             :locals => {:caption => 'Starters:',
                         :index_start => 0, :size => @num_starters,
                         :index_offset => 0} %>
</table>

<table id="table_in_bench" class="table_base tables_roster_chart">
  <%= render :partial => 'roster_table',
             :locals => {:caption => 'Bench:',
                         :index_start => @num_starters, :size => @num_in_bench,
                         :index_offset => 0} %>
</table>

<% index_start = @num_starters + @num_in_bench
   size = num_players_in_first_table_reserves -%>

<table id="table_reserves_first" class="table_base tables_roster_chart">
  <%= render :partial => 'roster_table',
             :locals => {:caption => 'Reserves:',
                         :index_start => index_start, :size => size,
                         :index_offset => 0} %>
</table>

<% index_start += size
   size = @players.size -%>

<table class="table_base tables_roster_chart">
  <%= render :partial => 'roster_table',
             :locals => {:caption => nbsp,
                         :index_start => index_start, :size => size,
                         :index_offset => num_players_in_first_table_reserves} %>
</table>

<div class="clear" />

<% if @error_explanation -%>
  <%= @error_explanation %>
<% end -%>

<% form_tag :action => 'edit_roster' do -%>
  <label for="command">Enter a command to exchange players: </label>
  <%= text_field_tag :command -%>
  <%= submit_tag 'Execute' %>
<% end -%>

<div id="command_samples_for_roster_chart">
  Command Samples:
  <br />
  <%= command_samples_for_roster_chart %>
</div>

