
<%
  num_starters = Constant.get(:num_starters)
  num_in_bench = Constant.get(:num_in_bench)
  num_players_in_first_table_reserves = 10
-%>

<p>
  <%= link_to 'Back to Rosters', 'list' %>
</p>

<div id="top_of_tables_roster_chart">
  <%= "Total Number of Players: #{@players.size}" %>
</div>

<table id="table_starters" class="tables_roster_chart">
  <%= render :partial => 'roster_table',
    :locals => {:caption => 'Starters:',
                :index_start => 0, :size => num_starters,
                :index_offset => 0} %>
</table>

<table id="table_in_bench" class="tables_roster_chart">
  <%= render :partial => 'roster_table',
    :locals => {:caption => 'Bench:',
                :index_start => num_starters, :size => num_in_bench,
                :index_offset => 0} %>
</table>

<% index_start = num_starters + num_in_bench
   size = num_players_in_first_table_reserves -%>

<table id="table_reserves_first" class="tables_roster_chart">
  <%= render :partial => 'roster_table',
    :locals => {:caption => 'Reserves:',
                :index_start => index_start, :size => size,
                :index_offset => 0} %>
</table>

<% index_start += size
   size = @players.size -%>

<table class="tables_roster_chart">
  <%= render :partial => 'roster_table',
    :locals => {:caption => nbsp,
                :index_start => index_start, :size => size,
                :index_offset => num_players_in_first_table_reserves} %>
</table>

<p />

<% if @error_explanation -%>
  <%= @error_explanation %>
<% end -%>

<% form_tag :action => 'edit_roster' do -%>
  <%= text_field_tag :command -%>
  <%= submit_tag 'Execute' %>
<% end -%>

<div id="command_samples_for_roster_chart">
  Command Samples:
  <br />
  <%= command_samples_for_roster_chart %>
</div>

