
<p>
  <%= link_to "<< #{@prev_player.name}", @prev_player %>
  <%= nbsp(4) %>
  <%= link_to 'Back to Rosters', players_path %>
  <%= nbsp(4) %>
  <%= link_to 'Edit', edit_player_path(@player) %>
  <%= nbsp(4) %>
  <%= link_to 'New Player', new_player_path %>
  <%= nbsp(4) %>
  <%= link_to "#{@next_player.name} >>", @next_player %>
</p>

<%= render :partial => 'base', :locals => {:f => nil} %>

<span class="alertingBackground"><font size="-1">
  <%= link_to 'Remove from Rosters', remove_from_rosters_path(@player),
                                     :confirm => "OK to delete \"#{@player.last_name_first_name}\"?",
                                     :class => "alertingBackground"
                                     %>
</font></span>

