
<p>
  <%= link_to "<< #{@prev_player.name}", @prev_player %>
  <%= nbsp(4) %>
  <%= link_to 'Back to Rosters', :action => 'list' %>
  <%= nbsp(4) %>
  <%= link_to 'Edit', :action => 'edit' %>
  <%= nbsp(4) %>
  <span class="alertingBackground">
    <%= link_to 'Remove from Rosters', :action => 'remove_from_rosters', :id => @player %>
  </span>
  <%= nbsp(4) %>
  <%= link_to 'New Player', :action => 'new' %>
  <%= nbsp(4) %>
  <%= link_to "#{@next_player.name} >>", @next_player %>
</p>

<%= render :partial => 'base', :locals => {:action => :show, :f => nil} %>

