
<% dates = make_dates_for_calendar(@date_start, 2) -%>

<%= link_to '<<', calendar_matches_path(:date_start => date_start.prev_month) %>
<%= nbsp %>
<%= date_start.to_formatted_s(:month_year) %>
<%= nbsp %>
<%= link_to '>>', calendar_matches_path(:date_start => date_start.next_month) %>

<table class="table_base table_calendar">
  <tr>
    <% dates.first(7).each do |date_for_wday| -%>
      <th class="<%= [0, 6].include?(date_for_wday.wday) ? 'weekend' : 'weekday' %>">
        <%= date_for_wday.strftime("%a") %>
      </th>
    <% end -%>
  </tr>

  <% dates.each_slice(7) do |week| -%>
    <tr>
      <% week.each do |date| -%>
        <%= match_td_in_calendar(date) %>
      <% end -%>
    </tr>
  <% end -%>
</table>

