
<%
  date_start = date.           beginning_of_month
  date_end   = date.next_month.      end_of_month
  dates = (date_start .. date_end).to_a

  date_cursor = dates.first
  until date_cursor.wday == @leftmost_weekday
    date_cursor = date_cursor.yesterday
    dates.unshift(date_cursor)
  end

  rightmost_weekday = @leftmost_weekday == 0 ? 6 : @leftmost_weekday - 1
  date_cursor = dates.last
  until date_cursor.wday == rightmost_weekday
    date_cursor = date_cursor.tomorrow
    dates << date_cursor
  end
-%>

<%= link_to '<<', calendar_matches_path(:date => date.prev_month) %>
<%= date.to_formatted_s(:month_year) %>
<%= link_to '>>', calendar_matches_path(:date => date.next_month) %>

<table class="table_base table_calendar">
  <tr>
    <% dates.first(7).each do |date_for_wday| -%>
      <th class="<%= [0, 6].include?(date_for_wday.wday) ? 'weekend' : 'weekday' %>">
        <%= date_for_wday.strftime("%a") %>
      </th>
    <% end -%>
  </tr>

  <% dates.each_slice(7) do |week| -%>
    <tr>
      <% week.each do |date| -%>
        <%= match_in_calendar(date) %>
      <% end -%>
    </tr>
  <% end -%>
</table>

