
<% unless @match.errors.empty? -%>
  <tr>
    <td colspan="<%= column_names.size %>">
      <%= error_messages_for :match %>
    </td>
  </tr>
<% end -%>

<% form_for @match do |f| -%>
  <tr>
    <td colspan="2"><%= f.text_field :date_match, :size => 10 %></td>
    <% series = series_for_collection_select -%>
    <td colspan="2"><%= series.size == 1 ? series[0].abbr : f.collection_select('series_id', series, :id, :abbr) %></td>
    <td colspan="2"><%= f.text_field :subname, :size => 8 %></td>
    <td>
      <%= f.select 'ground', grounds_for_select %>
      <%= f.collection_select 'opponent_id', teams_for_collection_select, :id, :name %>
    </td>
  </tr>
  <tr>
    <td colspan="2"><%= f.text_field 'scores_own', :size =>  2 %> - <%= f.text_field 'scores_opp', :size => 2 %> </td>
    <td colspan="5">own: <%= f.text_field :scorers_own, :size => 80 %></td>
  </tr>
  <tr>
    <td colspan="2">PK <%= f.text_field 'pks_own', :size =>  2 %> - <%= f.text_field 'pks_opp', :size => 2 %> </td>
    <td colspan="5">opp: <%= f.text_field :scorers_opp, :size => 80 %></td>
    <td>
      <%= submit_tag 'Submit' %>
      <% unless @match.new_record? -%>
        <%= nbsp(6) %>
        <%= link_to 'Delete', {:action => 'destroy', :id => @match},
                               :confirm => "OK to delete \"#{@match}\"?",
                               :class => "alertingBackground",
                               :method => :delete
                               %>
      <% end -%>
    </td>
  </tr>
<% end -%>

