
<p>
  <%= link_to 'Roster Chart', roster_chart_path(:is_lineup => @is_lineup ? 1 : 0) %>
</p>

<%= link_to '<<', calendar_matches_path(:date_start => @date_start.prev_month, :is_lineup => @is_lineup ? 1 : 0) %>
<%= nbsp %>
<%= @date_start.to_formatted_s(:month_year) %>
<%= nbsp %>
<%= link_to '>>', calendar_matches_path(:date_start => @date_start.next_month, :is_lineup => @is_lineup ? 1 : 0) %>

<table>
  <tr>
    <td style="vertical-align: top;">
      <% dates = make_dates_for_calendar(@date_start, 2) -%>
      <%= render :partial => 'calendar', :locals => {:dates => dates} %>
    </td>

    <td style="vertical-align: top; padding-left: 30px;">
      <% dates = make_dates_for_calendar(dates.last + 1, 2) -%>
      <%= render :partial => 'calendar', :locals => {:dates => dates} %>
    </td>
  </tr>
</table>

