
<%= link_to '>> Chronicles', :controller => 'chronicles', :action => 'list' %>
<%= nbsp %>
<%= link_to ' > Seasons'   , :controller => 'seasons'   , :action => 'list', :chronicle_id => @chronicle %>
<%= nbsp(4) %>
<%= link_to 'Rosters', :controller => 'players', :action => 'list' %>
<%= nbsp(4) %>
<%= link_to 'All', :action => 'filter_with_series', :series_ids => Series.premier_all_but_friendly %>
<% Series.premier_all.each do |series| -%>
  <% abbr = series.abbr -%>
  <%= nbsp %>
  <%= link_to abbr, :action => 'filter_with_series', :series_ids => [Series.find_by_abbr(abbr)] %>
<% end -%>
<%= nbsp(2) %>
<%= link_to 'Filter', :action => 'choose_to_list' %>
<font size="-1"><%= "('#{@match_filter.player_name}')" %></font>
<%= link_to 'clear', :action => 'filter_on_list', :match_filter => {:player_name => nil} %>
<%= nbsp(2) %>
<% label, value = @shows_link ? ["No Link", '0'] : ["Show Link", '1'] -%>
<%= link_to label, :action => 'list', :shows_link => value %>

<table id="table_matches">
  <%= render :partial => 'list',
             :locals => {:action => :list,
                         :id_to_edit => nil,
                         :column_names => column_names_for_list,
                         :shows_link => @shows_link} %> 
</table>

<%= link_to 'New Match', :action => 'new' %>

