
<%= link_to '>> Chronicles', :controller => 'chronicles', :action => 'list' %>
<%= nbsp %>
<%= link_to ' > Seasons'   , :controller => 'seasons'   , :action => 'list', :chronicle_id => @chronicle %>
<%= nbsp(4) %>
<%= link_to 'Rosters', :controller => 'players', :action => 'list' %>
<%= nbsp(4) %>
<%= link_to 'All Series', :action => 'filter_with_series', :series_ids => Series.premier_all %>
<% Series.premier_all.each do |series| -%>
  <% abbr = series.abbr -%>
  <%= nbsp %>
  <%= link_to abbr, :action => 'filter_with_series', :series_ids => [Series.find_by_abbr(abbr)] %>
<% end -%>
<%= nbsp(2) %>
<%= link_to 'Filter', :action => 'choose_to_list' %>
<font size="-1"><%= "('#{@match_filter.player_name}')" %></font>
<%= link_to 'clear', :action => 'filter_on_list', :match_filter => {:player_name => nil} %>
<%= nbsp(4) %>
<%= link_to 'New Match', :action => 'new' %>

<table id="table_matches">
  <%= render :partial => 'list',
             :locals => {:id_to_edit => nil, :column_names => column_names_for_list, :shows_link => true} %> 
</table>

