<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <% controller_name = controller.controller_name -%>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= @page_title %></title>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag @team_abbr if @team_abbr %>
    <% if @css_add
         @css_add.each do |css| -%>
        <%= stylesheet_link_tag css %>
      <% end
         @css_add.clear -%>
    <% end -%>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag controller_name %>

    <%= csrf_meta_tags %>
  </head>

  <body class="<%= Rails.env %> <%= @is_lineup ? 'lineup' : '' %>">
    <% if defined?(@error_message) && @error_message -%>
      <% @error_message = @error_message.join("\n") if @error_message.kind_of?(Array) -%>
      <p class="alerting"><%= @error_message %></p>
    <% end -%>

    <% if @page_title -%>
      <% size = @page_title_size || 1
         tag = "h#{size}" -%>
      <%= "<#{tag} id='page_title'>#{@page_title}</#{tag}>".html_safe %>
    <% end -%>

    <% if @shows_link_to_logout -%>
      <div id="logout">
        <%= link_to 'Logout', logout_path %>
      </div>
    <% end -%>

    <div style="clear: both;" />

    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield %>

    <%# ログイン画面であれば jQuery が動作するか確認する %>
    <% unless session[:user_id] -%>
      <div id="jquery_test">
        Powered by <%= image_tag("rails.png") %>
        and <%= image_tag("jquery_logo_215x53.gif", :style => 'background-color: black') %>
      </div>
      <script type="text/javascript">
        $('#jquery_test').append($().jquery); // jQuery のバージョン
        $('#jquery_test').fadeOut(3000);
      </script>
    <% end -%>

    <p class="copyright">
      <%= Constant.get(:copyright) % Date.today.year %>
    </p>
  </body>

</html>

